---
// 404 Page - Redirects to root /
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0;url=/" />
    <link rel="canonical" href="https://www.ladetec.com/" />
    <script is:inline>
      window.location.href = "/";
    </script>
  </head>
  <body>
    <p>Redirecting to <a href="/">home</a>...</p>
  </body>
</html>
